<div id="<%= dom_id product %>">

  <div class="card">
  <div class="card-header">
  <strong>Name:</strong>
  <%= product.name %>
  </div>
  <div class="card-body">
    <div class="d-flex">
     <h5 class="card-title"><strong>Price:</strong></h5>
     <p class="card-text"><%= product.price %></p>
    </div>
  </div>
</div>
</div>
