<div class="text-center">
 <h1>Editing product</h1>
</div>

<div class="d-flex justify-content-center">
 <%= render "form", product: @product %> 
</div>

<br>

<div>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>
