<div class="text-center">
  <h1>New product</h1>
</div>

<div class="d-flex justify-content-center">
 <%= render "form", product: @product %>
</div>

<br>

<div class="text-center">
  <%= link_to "Back to products", products_path %>
</div>
